<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="fr.marvinlabs.samples.unlocker"
	android:versionCode="1"
	android:versionName="1.0.0"
>
	<!-- We require this permission in order to access the authorization provider. If you comment this line, a SecurityException 
		will be raised and features will not be unlocked. This permission also requires than this application is signed with the 
		same key as the authorization application. -->
	<uses-permission
		android:name="fr.marvinlabs.samples.unlocker.AUTHORIZATION_PROVIDER" />
	<uses-sdk android:targetSdkVersion="18" android:minSdkVersion="4"/>

	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:debuggable="true"
	>
		<activity
			android:name="fr.marvinlabs.samples.unlocker.MainActivity"
			android:label="@string/app_name"
		>
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest>